<!-- 测试文件 -->

<launch>
    <!-- 启动rviz -->

    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="rviz" type="rviz" name="rviz" />

    <!-- 加载地图服务 -->
    <include file="$(find nav_demo)/launch/nav03_map_server.launch"/>
    <!-- amcl文件 -->
    <include file="$(find nav_demo)/launch/nav04_amcl.launch"/>

</launch>