<robot name="mycar">
    <!--1.添加base_footprint-->
    <link name="base_footprint">
        <visual>
            <geometry>
                <sphere radius="0.001" />
            </geometry>

        </visual>
    </link>

    <!--2.添加底盘-->
    <!--
        形状:圆柱
        半径:0.1m
        高度:0.08m
        离地间距:0.015m
    -->
    <!--2-1 link-->
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.08"  />
            </geometry>

            <origin xyz="0 0 0" rpy="0 0 0" />

            <material name="baselink_color">
                <color rgba="0.2 0.1 0.5 0.4" />

            </material>

        </visual>

    </link>
    <!--2-2 joint-->

    <joint name="link2footprint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <!--关节z上的设置 = 车体高度/2 + 离地间距 -->
        <origin xyz="0 0 0.055" rpy="0 0 0"/>

    </joint>


    <!--3.添加驱动轮-->
    <!--
        形状:圆柱
        半径:0.035m
        长度:0.015m
    -->
    <!--3-1.link-->
    <link name="left_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0325" length="0.015"  />
            </geometry>

            <origin xyz="0 0 0" rpy="1.57 0 0" />

            <material name="wheel_color">
                <color rgba="0 0 0 0.3" />

            </material>

        </visual>

    </link>

    <link name="right_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0325" length="0.015"  />
            </geometry>

            <origin xyz="0 0 0" rpy="1.57 0 0" />

            <material name="wheel_color">
                <color rgba="0 0 0 0.3" />

            </material>

        </visual>

    </link>
    <!--3-2.joint-->

    <joint name="left2link" type="continuous">
        <parent link="base_link" />
        <child link="left_wheel" />
        <!--
            x无偏移
            y是车的半径
            z=车体高度 /2 +离地间距 -车轮半径
        -->
        <origin xyz="0 0.1 -0.0225" rpy="0 0 0"/>
        <!--绕着哪个轴转动-->
        <axis xyz="0 1 0"/>

    </joint>

    <joint name="right2link" type="continuous">
        <parent link="base_link" />
        <child link="right_wheel" />
        <!--
            x无偏移
            y是车的半径
            z=车体高度 /2 +离地间距 -车轮半径
        -->
        <origin xyz="0 -0.1 -0.0225" rpy="0 0 0"/>
        <!--绕着哪个轴转动-->
        <axis xyz="0 1 0"/>

    </joint>


    <!--4.添加万象轮-->
    <!--
        形状:球
        半径:0.0075m
    -->
    <!--4-1  link-->
    <link name="front_wheel">
        <visual>
            <geometry>
                <sphere radius="0.0075"   />
            </geometry>

            <origin xyz="0 0 0" rpy="1.57 0 0" />

            <material name="wheel_color">
                <color rgba="0 0 0 0.3" />

            </material>

        </visual>

    </link>

    <link name="back_wheel">
        <visual>
            <geometry>
                <sphere radius="0.0075"   />
            </geometry>

            <origin xyz="0 0 0" rpy="1.57 0 0" />

            <material name="wheel_color">
                <color rgba="0 0 0 0.3" />

            </material>

        </visual>

    </link>

    <!--4-2  joint-->
    <joint name="front2link" type="continuous">
        <parent link="base_link" />
        <child link="front_wheel" />
        <origin xyz="0.08 0 -0.0475" rpy="0 0 0"/>
        <!--绕着哪个轴转动-->
        <axis xyz="0 1 0"/>

    </joint>


    <joint name="back2link" type="continuous">
        <parent link="base_link" />
        <child link="back_wheel" />
        <origin xyz="-0.08 0 -0.0475" rpy="0 0 0"/>
        <!--绕着哪个轴转动-->
        <axis xyz="0 1 0"/>

    </joint>

</robot>