<launch>
    <!--1.在参数服务器中载入urdf-->
    <param name="robot_description" textfile="$(find urdf01_rviz)/urdf/urdf/demo05_test.urdf"/>
    <!--2.启动rviz-->
    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find urdf01_rviz)/config/show_mycar.rviz" />

    <!--3.添加关节状态发布节点-->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />

    <!--4.添加机器人状态发布节点-->
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

    <!--5.关节运动控制节点-->
    <node pkg="joint_state_publisher_gui" name="joint_state_publisher_gui" type="joint_state_publisher_gui" />


</launch>