<launch>

    <!--1.在参数服务器中载入 urdf 文件-->
    <param name="robot_description"  textfile ="$(find urdf01_rviz)/urdf/urdf/demo04_base_footprint.urdf" />
    <!--2. 启动rviz-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find urdf01_rviz)/config/show_mycar.rviz"/>

    <!--
        只有上述两条语句
            表现:摄像头位置与颜色异常
            提示:No transform from [camera] to [base_link]
            原因:rviz显示urdf时,必须发布不同部件之间的坐标系关系
            解决:ros提供了关于机器人模型显示的坐标发布相关节点(两个)
    -->
    <!--关节状态发布节点-->
    <node pkg="joint_state_publisher" type="joint_state_publisher" name ="joint_state_publisher"/>
    <!--机器人状态发布节点-->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name ="robot_state_publisher"/>

</launch>